@model Processor_WebRole.Models.StatusViewModel
@{
	ViewBag.Title = "Home Page";
}

<div class="FileArea">
	@if (ViewData["file"] != null && !string.IsNullOrWhiteSpace(ViewData["file"].ToString())) { 
		<div class="result">@ViewData["file"]</div>
	}
	@using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" name="file" id="file" />
		<input type="submit" value="OK" />
	}
</div>
<div class="CmdArea">
	@Html.ActionLink("Process Next Item", "ProcessNextItem")
</div>


<div class="ItemList">
<h2>Unprocessed Items</h2>
<table>
<tr><th>Id</th><th>Name</th><th>Received</th></tr>
@foreach (var item in Model.UnprocessedItems) { 
	<tr><td>@item.ResourceId</td><td>@item.FileName</td><td>@item.Received</td></tr>
}
</table>
</div>

<div class="ItemList">
<h2>Processed Items</h2>
<table>
<tr><th>Id</th><th>Name</th><th>Received</th></tr>
@foreach (var item in Model.ProcessedItems) { 
	<tr><td>@item.ResourceId</td><td>@item.FileName</td><td>@item.Received</td></tr>
}
</table>
</div>